img {
	width: 3em;
}

.count {
	position: absolute;
    background: #DAFDBA;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #012030;
    text-align: center;
    font-size: 0.75em;
    right: 0;
    bottom: 50%;
    line-height: 1.7em;
}