$oscuro: #012030;
$primario: #13678A;
$secundario: #45C4B0;
$alternativo: #9AEBA3;
$claro: #DAFDBA;

body {
	background: $oscuro;
	color: white;
	a {
		text-decoration: none;
		color: $claro;
		&:hover {
			color: $alternativo;
			text-decoration: none;
		}
		&.active {
			color: $alternativo;
			font-weight: bold;
			text-decoration: underline;
		}
	}
	.btn {
		border: none;
    	background: $claro;
    	color: $oscuro;
    	&:focus {
    		box-shadow: none;
    	}
    	&.nmb {
    		width: 2.2em;
    		text-align: center;
    		background: transparent;
    		color: $claro;
    		&:first-child {
    			margin-left: 2%;
    		}
    	}
	}

	input[type="number"] {
	    padding: 0.375rem 0.75rem;
	    font-size: 1.2em;
	    border-radius: 0.25rem;
	    width: 2.9em;
	    border: none;
	    background: transparent;
	    color: white;
	    text-align: right;
	}
}